.App{
  width: 100vw;
  height: 100vh;
  padding-top: 35px;
}


.main{
  width: 50%;
  height: 40%;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.main button{
  margin-top: 10px;
  width: 50%;
  height: auto;
  padding: 10px;
  background-coloR: #191970;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.187);
}


.main button:hover{
  background-color: #000080;
  scale: 1.1;
}


.containerButton button:hover{
  background-color: #d9d9d9;
}

.containerButton img{
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

